nav.navbar
    img.navbar-logo(src=require("@Images/orakeshi-icon.png"))
    ul.navbar-list
        li.navbar-list-item
            a.navbar-link-eng Home
            br
            a.navbar-link-jp(href="/index.html") ホーム

        li.navbar-list-item
            a.navbar-link-eng Blog
            br
            a.navbar-link-jp(href="/learning/kana/index.html") ブログ

        li.navbar-list-item
            a.navbar-link-eng Info
            br
            a.navbar-link-jp(href="") 炎上

        li.navbar-list-item
            a.navbar-link-eng Other
            br
            a.navbar-link-jp(href="") 社内
