mixin hiragana()
    div#hiragana-table
        table
            caption.centre Hiragana
            thead
                tr
                    th.centre n
                    th.centre w
                    th.centre r
                    th.centre y
                    th.centre m
                    th.centre h
                    th.centre n
                    th.centre t
                    th.centre s
                    th.centre k
                    th.centre &nbsp;
                    th.centre &nbsp;
                
            tbody
                tr.kana-table
                    td.centre 
                        | ん
                        br
                        span.highlight-blue (n)
                    td.centre わ
                    td.centre ら
                    td.centre や
                    td.centre ま
                    td.centre は
                    td.centre な
                    td.centre た
                    td.centre さ
                    td.centre か
                    td.centre あ
                    th.centre a

                tr.kana-table
                    td.centre &nbsp;
                    td.centre &nbsp;
                    td.centre り
                    td.centre &nbsp;
                    td.centre み
                    td.centre ひ
                    td.centre に
                    td.centre 
                        |ち
                        br
                        span.highlight-blue (chi)
                    td.centre 
                        | し
                        br
                        span.highlight-blue (shi)
                    td.centre き
                    td.centre い
                    th.centre i
                
                tr.kana-table 
                    td.centre &nbsp;
                    td.centre &nbsp;
                    td.centre る
                    td.centre ゆ
                    td.centre む
                    td.centre 
                        | ふ
                        br
                        span.highlight-blue (fu)
                    td.centre ぬ
                    td.centre 
                        | つ
                        br
                        span.highlight-blue (tsu)
                    td.centre す
                    td.centre く
                    td.centre う
                    th.centre u
                
                tr.kana-table 
                    td.centre &nbsp;
                    td.centre &nbsp;
                    td.centre れ
                    td.centre &nbsp;
                    td.centre め
                    td.centre へ
                    td.centre ね
                    td.centre て
                    td.centre せ
                    td.centre け
                    td.centre え
                    th.centre e

                tr.kana-table 
                    td.centre &nbsp;
                    td.centre 
                        | を
                        br
                        span.highlight-blue (wo)
                    td.centre ろ
                    td.centre よ
                    td.centre も
                    td.centre ほ
                    td.centre の
                    td.centre と
                    td.centre そ
                    td.centre こ
                    td.centre お
                    th.centre o

mixin hiraganaDakuten()
    div#hiragana-dakuten
        table
            caption.centre Dakuten & Handakuten 
            thead
                tr.kana-table
                    th.centre p 
                    th.centre b 
                    th.centre d 
                    th.centre z 
                    th.centre g 
                    th.centre &nbsp; 
            tbody
                tr.kana-table
                    td.centre ぱ
                    td.centre ば
                    td.centre だ
                    td.centre ざ
                    td.centre が
                    th.centre a 
 
                tr.kana-table
                    td.centre ぴ
                    td.centre び
                    td.centre
                        | ぢ
                        br
                        span.highlight-blue (ji)
                    td.centre
                        | じ
                        br
                        span.highlight-blue (ji)
                    td.centre ぎ
                    th.centre i 
 
                tr.kana-table
                    td.centre ぷ
                    td.centre ぶ
                    td.centre
                       | づ
                       br
                       span.highlight-blue (dzu)
                    td.centre ず
                    td.centre ぐ
                    th.centre u 
 
                tr.kana-table
                    td.centre ぺ
                    td.centre べ
                    td.centre で
                    td.centre ぜ
                    td.centre げ
                    th.centre e 

                tr.kana-table
                    td.centre ぽ
                    td.centre ぼ
                    td.centre ど
                    td.centre ぞ
                    td.centre ご
                    th.centre o